@font-face {
    font-family: 'mansalvaregular';
    src: url('../fonts/mansalva-regular-webfont.woff2') format('woff2'),
        url('../fonts/mansalva-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'roboto_monoregular';
    src: url('../fonts/robotomono-variablefont_wght-webfont.woff2') format('woff2'),
        url('../fonts/robotomono-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'nanum_penregular';
    src: url('../fonts/nanumpenscript-regular-webfont.woff2') format('woff2'),
        url('../fonts/nanumpenscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hack';
    src: url('../fonts/hack-regular.woff2') format('woff2'),
        url('../fonts/hack-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}