html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}

html {
    background-image: url('../img/tile.jpg');
}

.page-wrapper {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

#header {
    display: flex;
    justify-content: center;
}

#form-wrapper {
    box-sizing: border-box;
    margin-bottom: 1rem;
    display: grid;
    justify-content: center;
}

#notes-all-wrapper {
    box-sizing: border-box;
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#note-wrapper {
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem;
    background-image: url('../img/notebg.png');
    background-repeat: no-repeat;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

#note-container {
    box-sizing: border-box;
    width: 90%;
    height: 80%;
}

#note-details {
    box-sizing: border-box;
    margin: .2rem 0 1.2rem 0;
    width: 95%;
    height: 55%;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* overflow: scroll; */
    overflow-x: auto;
    overflow-y: scroll;
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* color: red; */
}

.note-expired {
    color: red;
}