html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}

html {
    background-image: url('../img/tile.jpg');
}

.page-wrapper {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 1rem;
    /* display: grid; */
    /* justify-items: center; */
}

#header {
    display: flex;
    justify-content: center;
    /* font-family: "permanent_markerregular", sans-serif; */
    font-family: "mansalvaregular", sans-serif;
    font-size: 3.3rem;
}

#form-wrapper {
    box-sizing: border-box;
    /* margin-bottom: .5rem; */
    display: flex;
    justify-content: center;
    /* align-content: space-around; */
    /* width: 75vw; */
}

#form-container {
    background-image: url("../img/formbg.jpg");
    /* background-repeat: repeat-y; */
    /* background-repeat: repeat; */
    /* background-size: auto; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
    height: 212px;
    padding: .4rem;
}

#form-container label {
    color: gray;
    font-family: monospace;
}

#detailsBox,
#dateBox,
#timeBox {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.05);
    /* box-shadow: 0px 0px 25px 5px rgba(235, 235, 235, 0.5); */
    border: 0;
    outline: 0;
}

#detailsBox {
    margin-top: .2rem;
    margin-bottom: .2rem;
    padding: .2rem;
    width: 75%;
    height: 6rem;
    font-size: .9rem;
    line-height: 2rem;
}

#dateBox,
#timeBox {
    padding: .2rem;
    margin-bottom: .2rem;
}

#buttons-container {
    margin-bottom: .4rem;
}

#notes-all-wrapper {
    box-sizing: border-box;
    margin: .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 90%;
}

.note-wrapper {
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem;
    background-image: url('../img/notebg.png');
    background-repeat: no-repeat;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.note-container {
    box-sizing: border-box;
    width: 90%;
    height: 80%;
}

.note-details {
    box-sizing: border-box;
    margin: 1rem 0 1.2rem 0;
    width: 97%;
    height: 65%;
    overflow-x: auto;
    overflow-y: scroll;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-family: 'nanum_penregular', cursive;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.75);
    /* font-family: 'note_thisregular', cursive; */
    /* font-size: 1.05rem; */
    /* text-shadow: 0 0 1px rgba(32, 32, 32, 0.25); */
    /* font-family: 'Schoolbell', cursive; */
    /* font-size: .975rem; */
    /* color: rgba(0, 0, 0, 0.85); */
}

.note-date,
.note-time {
    /* font-family: 'unica_oneregular', cursive; */
    /* font-family: 'special_eliteregular', cursive; */
    /* font-family: 'roboto_monoregular', monospace; */
    /* font-family: 'caveat_brushregular', monospace; */
    font-family: 'comic_neueregular', monospace;
    font-size: .9rem;
    padding-top: .15rem;
    color: rgb(32, 32, 32, 0.9);
    text-shadow: 0 0 1px rgba(32, 32, 32, 0.5);
}

.note-delete {
    position: absolute;
    top: 25px;
    left: 150px;
    /* font-size: 1rem; */
    /* transform: scale(1); */
}

.note-delete:hover {
    cursor: pointer;
    /* font-size: 1.2rem; */
    transform: scale(1.1, 1.1);
    color: rgb(128, 32, 32);
    /* color: rgb(48, 48, 48); */
}

.note-expired {
    color: red;
}

/* Transitions */

.faded-out {
    opacity: 0;
    transition: opacity 2s ease-out;
}

.faded-in {
    opacity: 1;
    transition: opacity 2s ease-out;
}

.faded-out-quick {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.faded-in-quick {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}