@font-face {
    font-family: 'mansalvaregular';
    src: url('../fonts/mansalva-regular-webfont.woff2') format('woff2'),
        url('../fonts/mansalva-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'roboto_monoregular';
    src: url('../fonts/robotomono-variablefont_wght-webfont.woff2') format('woff2'),
        url('../fonts/robotomono-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'nanum_penregular';
    src: url('../fonts/nanumpenscript-regular-webfont.woff2') format('woff2'),
        url('../fonts/nanumpenscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hack';
    src: url('../fonts/hack-regular-subset.woff2') format('woff2'),
        url('../fonts/hack-regular-subset.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}

html {
    background-image: url('../img/tile.jpg');
}

.page-wrapper {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0.5rem 1rem;
    /* display: grid; */
    /* justify-items: center; */
}

#header {
    display: flex;
    justify-content: center;
    font-family: "mansalvaregular", sans-serif;
    font-size: 3rem;
    /* background-color: green; */
}

#form-wrapper {
    box-sizing: border-box;
    /* margin-bottom: .5rem; */
    display: flex;
    justify-content: center;
    /* align-content: space-around; */
    /* width: 75vw; */
}

#form-container {
    background-image: url("../img/formbg.jpg");
    /* background-repeat: repeat-y; */
    /* background-repeat: repeat; */
    /* background-size: auto; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
    height: 212px;
    padding: .4rem;
    position: relative;
}

#form-container label {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    color: gray;
    font-family: 'roboto_monoregular', monospace;
    font-size: small;
}

#detailsBox,
#dateBox,
#timeBox {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.05);
    border: 0;
    outline: 0;
}

#detailsBox {
    margin-top: .2rem;
    margin-bottom: .2rem;
    padding: .2rem;
    width: 75%;
    height: 6rem;
    line-height: 2rem;
    font-family: 'roboto_monoregular', monospace;
    font-size: .875rem;
}

#dateBox,
#timeBox {
    padding: .2rem;
    margin-bottom: .2rem;
    font-family: 'Hack', monospace;
    font-size: .8rem;
}

button,
select,
option {
    /* font-family: 'roboto_monoregular', monospace; */
    /* font-family: 'Hack', monospace; */
    /* font-size: 0.8rem; */
    font-family: 'Arial', sans-serif;
    font-size: 0.825rem;
}

#buttons-container {
    margin-bottom: .4rem;
}

#noteboard-wrapper {
    display: flex;
    justify-content: center;
    /* height: 50%; */
    margin: .5rem 0;
    overflow-y: hidden;
    /* background-color: red; */
}

#noteboard-wrapper:hover {
    overflow-y: scroll;
}

#notes-all-wrapper {
    box-sizing: border-box;
    /* margin: .5rem; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 90%;
    padding-left: 1.8rem;
    /* background-color: red; */
    /* display: grid; */
    /* grid-template-rows: 1fr; */
    /* grid-template-columns: repeat(5, 1fr); */
}

.note-wrapper {
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem;
    background-image: url('../img/notebg.png');
    background-repeat: no-repeat;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.note-container {
    box-sizing: border-box;
    width: 90%;
    height: 80%;
}

.note-details {
    box-sizing: border-box;
    /* margin: 1rem 0 1.2rem 0; */
    margin: 0.6rem 0 2.2rem 0;
    width: 97%;
    height: 65%;
    overflow-x: auto;
    overflow-y: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-family: 'nanum_penregular', cursive;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.75);
}

.note-details:hover {
    overflow-y: scroll;
}

.note-date,
.note-time {
    font-family: 'Hack', monospace;
    font-size: .775rem;
    padding-top: .15rem;
    color: rgb(32, 32, 32, 0.9);
    text-shadow: 0 0 1px rgba(32, 32, 32, 0.5);
}

.note-delete {
    position: absolute;
    top: 25px;
    left: 150px;
    /* font-size: 1rem; */
    /* transform: scale(1); */
}

.note-delete:hover {
    cursor: pointer;
    /* font-size: 1.2rem; */
    transform: scale(1.1, 1.1);
    color: rgb(128, 32, 32);
    /* color: rgb(48, 48, 48); */
}

.note-expired {
    font-family: 'Hack', monospace;
    font-size: 1rem;
    padding-left: 0.3rem;
    margin: 0 -0.3rem;
    color: rgba(255, 0, 0, 0.5);
    background-color: rgba(192, 0, 0, 0.25);
    /* z-index: 1; */
    /* transform: rotate(135deg) scale(-1) translate(50%, -200%); */
    transform: translate(0, -3.8rem);
}

/* Transitions */

.faded-out {
    opacity: 0;
    transition: opacity 2s ease-out;
}

.faded-in {
    opacity: 1;
    transition: opacity 2s ease-out;
}

.faded-out-quick {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.faded-in-quick {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

/* Error messages */

.form-error {
    z-index: 2;
    color: white;
    background-color: rgba(192, 0, 0, 0.66);
    border: 4px solid rgba(225, 32, 64, 0.33);
    border-radius: 8px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'roboto_monoregular', monospace;
    font-size: .8rem;
}

#form-error-details {
    background-color: rgba(192, 0, 0, 0.5);
    width: 72%;
    height: 18px;
    top: 82px;
    right: 82px;
}

#form-error-date {
    width: 160px;
    height: 18px;
    top: 118px;
    right: 18px;
}

#form-error-time {
    width: 160px;
    height: 18px;
    top: 150px;
    right: 18px;
}